$font-family-base: 'Nunito', sans-serif;
$font-size-base: 20px;
$font-color-base: #3e3e3f;

$font-size-title: 5em;
$font-color-title: white;

$default-logo-width: 335px;
$default-logo-height: 70px;

$card-font-size: 18px;